{% extends "shared/layout.html" %}

{% block title %}
    Disclaimer
{% endblock %}

{% block content %}
  <div class="inner-wrapper disclaimer">
    <h2>Disclaimer</h2>
    <p>
        This is an experiment to show that you can share
        messages using AES and Persona. AES is used, since it
        allows n recipients to see the same image and therefore
        receive the same message consistently.
    </p>
    <p>
        If you are planning to use Lexicrypt for your high-security
        treehouse-blueprint-secret-stash-of-hash communication,
        I'd advise against it.
        Use public key encryption or something else.
    </p>
    <p>
        This is for entertainment purposes only. Do not be stupid and
        put your credit card number in these messages. Thanks.
    </p>
  </div>
{% endblock %}
