{% extends "shared/layout.html" %}

{% block title %}
    lexicrypt.messages
{% endblock %}

{% block content %}
  {% if session['lex_token'] %}
    <ul id="header">
      <li><a href="{{ url_for('your_messages') }}">Your Messages</a></li>
      <li><a href="{{ url_for('encrypt') }}">Encrypt Message</a></li>    
    </ul>
  {% endif %}

  <div class="inner-wrapper">
    <ul class="public-messages">
      {% for message in messages %}
        <li>
          <img src="{{ message['message'] }}">
          {% if session['lex_email'] and message['is_accessible'] %}
            <div class="decrypt">
              <button>Decrypt</button>
              <div class="message"></div>
            </div>
          {% endif %}
        </li>
      {% endfor %}
    </ul>
  </div>
{% endblock %}