/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* main content */

@font-face {
    font-family: 'FranklinGothicDemiComp';
    src: url('franklingothic-demicomp-webfont.eot');
    src: url('franklingothic-demicomp-webfont.eot?#iefix') format('embedded-opentype'),
         url('franklingothic-demicomp-webfont.woff') format('woff'),
         url('franklingothic-demicomp-webfont.ttf') format('truetype'),
         url('franklingothic-demicomp-webfont.svg#FranklinGothicDemiComp') format('svg');
    font-weight: normal;
    font-style: normal;

}

body {
    font-family: 'FranklinGothicDemiComp';
    padding: 10px;
}

body.error {
    background-image: url('/static/images/error.png');
}

h1 {
    background: url('/static/images/logo.png') no-repeat;
    float: left;
    font-size: 1px;
    height: 34px;
    margin-right: 20px;
    text-indent: -9999px;
    width: 170px;
}

h1 a {
    display: block;
    height: 34px;
    width: 170px;
}

a#logout, a#login {
    background-color: #111;
    color: #eee;
    display: block;
    font-size: 13px;
    left: 210px;
    padding: 3px 6px 3px 6px;
    position: absolute;
    text-decoration: none;
    text-transform: uppercase;
    top: 0px;
}

a#logout:hover, a#login:hover {
    background-color: #f1932e;
}

ul#header {
    display: block;
    float: left;
    height: 34px;
    line-height: 27px;
}

ul#header li a {
    color: #ccc;
    display: block;
    font-size: 23px;
    text-decoration: none;
    text-transform: uppercase;
}

ul#header li {
    float: left;
    margin: 13px 15px 0px 0px;
}

ul#header li a:hover, ul#header li a.selected {
    color: #111;
}

div {
    margin: 10px;
}

div.inner-wrapper {
    border-top: 5px solid #eee;
    clear: both;
    float: left;
    margin: 10px 0px 20px 0px;
    padding-top: 20px;
    width: 100%;
}

div.inner-wrapper.blank {
    border: 0px;
    margin: 0px;
    padding: 0px;
}

input[type="text"] {
    font-size: 13px;
    padding: 3px;
    width: 250px;
}

textarea {
    display: block;
    float: left;
    font-size: 18px;
    min-height: 120px;
    resize: vertical;
    max-width: 340px;
    min-width: 300px;
    padding: 10px;
}

input, textarea {
    border: 1px solid #eee;
    border-radius: 5px;
    box-shadow: inset #ccc 1px 1px 0px;
    float: left;
    font-family: Arial, sans-serif;
}

button {
    background-color: transparent;
    border: 0px;
    color: #83aa59;
    cursor: pointer;
    display: block;
    float: left;
    font-family: 'FranklinGothicDemiComp';
    font-size: 25px;
    padding: 5px;
    text-transform: uppercase;
}

button:hover {
    color: #bbdf5b;
}

.your-messages li {
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 3px;
    box-shadow: #ddd 1px 1px 2px;
    float: left;
    font-family: Arial, sans-serif;
    font-size: 13px;
    margin: 0px 10px 40px 10px;
    padding: 5px;
    position: relative;
    width: 300px;
    z-index: 0;
}

.public-messages li, .public-message li {
    float: left;
    margin: 10px 3px;
    position: relative;
}

.public-messages li img, .your-messages li img, .public-message li img {
    float: left;
}

.public-message li {
    margin-top: 0px;
}

h3.notice {
    color: #888;
    font-size: 30px;
}

h3.notice a {
    color: #ccc;
    text-decoration: none;
}

h3.notice a:hover {
    color: #111;
}

.your-messages p {
    float: right;
    overflow: hidden;
}

.your-messages li img {
    margin-right: 5px;
}

.your-messages li p {
    background-color: #eee;
    color: #555;
    line-height: 18px;
    padding: 8px;
    width: 229px;
}

.your-messages li div {
    margin: 0px;
}

.your-messages li .share, .your-messages li .embed {
    background-color: #fbfa8a;
    color: #595e3a;
    float: right;
    margin-top: 5px;
    padding: 4px;
    width: 237px;
}

.your-messages li .embed {
    background-color: #8ed3ff;
}

.your-messages li .share span, .your-messages li .embed span {
    background-color: #fcfbcf;
    border-radius: 3px;
    display: block;
    float: left;
    padding: 3px 5px 3px 5px;
}

.your-messages li .embed span {
    background-color: #c3e8ff;
}

.your-messages li .share input, .your-messages li .embed input {
    color: #555;
    font-size: 12px;
    margin: 1px 0px 0px 4px;
    padding: 3px;
    width: 175px;
}

.your-messages li.selected {
    z-index: 3;
}

.your-messages li.hidden {
    opacity: 0.3;
}

.your-messages li button.delete {
    background-color: #aaa;
    border: 2px solid #fff;
    border-radius: 4px;
    box-shadow: #ccc 1px 1px 0px;
    color: #fff;
    display: block;
    font-family: Arial;
    font-size: 11px;
    font-weight: bold;
    padding: 0px 2px 0px 2px;
    position: absolute;
    right: -8px;
    text-align: center;
    text-decoration: none;
    top: -8px;
}

.your-messages li button.delete:hover {
    background-color: #f00;
}

ul.accessors {
    position: absolute;
    bottom: -26px;
    z-index: 5;
}

ul.accessors li {
    background-color: #bfd3dc;
    border: 0px;
    border-bottom: 1px dashed #eee;
    border-radius: 0px;
    box-shadow: #ccc 1px 1px 2px;
    color: #222;
    line-height: 15px;
    margin: 0px;
    width: 290px;
}

ul.accessors.hidden li.email, ul.accessors.hidden li.add-email {
    display: none;
}

ul.accessors li a.delete, ul.accessors li button.add {
    background-color: #fff;
    border-radius: 3px;
    color: #f00;
    float: right;
    font-family: Arial;
    font-size: 17px;
    font-weight: bold;
    line-height: 13px;
    padding: 0px 3px 3px 3px;
    text-decoration: none;
}

ul.accessors li button.add {
    color: #83AA59;
    font-size: 20px;
    padding: 2px 1px;
}

ul.accessors li.toggle {
    background-color: #888;
    border: 0px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    color: #fff;
    cursor: pointer;
    font-family: 'FranklinGothicDemiComp';
    font-size: 19px;
    text-align: center;
    text-transform: uppercase;
}

ul.accessors li.toggle:hover {
    background-color: #6aaac8;
}

ul.accessors li a.delete:hover, ul.accessors li button.add:hover {
    background-color: #111;
    color: #fff;
}

div.avatar {
    margin: 0px;
}

div.decrypt button {
    background-color: #111;
    bottom: -18px;
    color: #fff;
    font-size: 12px;
    padding: 0px 4px 0px 4px;
    position: absolute;
    right: 0px;
}

#message {
    background-color: #f7ff9f;
    border: 2px solid #5f614c;
    border-radius: 3px;
    box-shadow: #888 1px 1px 2px;
    color: #333;
    display: none;
    font-family: Arial, sans-serif;
    font-size: 13px;
    left: 20px;
    line-height: 22px;
    margin-right: 30px;
    max-width: 550px;
    min-width: 254px;
    overflow: hidden;
    padding: 15px;
    position: fixed;
    z-index: 2;
}

.powered-lexicrypt {
    display: block;
    font-size: 1px;
    left: 33px;
    position: absolute;
    text-indent: -9999px;
    top: 0px;
}

body > .embedded {
    margin: 0px;
}

.embedded #message {
    width: 240px;
}

p.error {
    color: #fff;
    font-size: 50px;
    line-height: 55px;
    text-shadow: #222 2px 2px 1px;
    text-transform: uppercase;
}

p.error a {
    background-color: #f6ff65;
    color: #222;
    padding: 0px 3px 0px 3px;
    text-decoration: none;
    text-shadow: none;
}

p.error a:hover {
    background-color: #222;
    color: #fff;
}
