<!DOCTYPE html>
<html>
  {% block head %}
    <head>
      <title>{% block title %}{% endblock %}</title>
      <meta content="width=device-width, height=device-height, user-scalable=no, initial-scale=0.9, maximum-scale=0.9, minimum-scale=0.9" name="viewport">
      <meta content="yes" name="apple-mobile-web-app-capable">
      <meta content="chrome=1" http-equiv="X-UA-Compatible">
      <link rel="shortcut icon" href="{{ url_for('static', filename='images/favicon.ico') }}">
      <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
      <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
      <script src="https://login.persona.org/include.js"></script>
      <script type="text/javascript">
          var currentUser = null;
          {% if session['lex_email'] %}
            currentUser = '{{ session['lex_email'] }}';
          {% endif %}
      </script>
      <script type="text/javascript" src="{{ url_for('static', filename='main.js') }}"></script>
    </head>
  {% endblock %}
  <body>
    <div class="wrapper">
      <h1><a href="{{ url_for('main') }}">lexicrypt</a></h1>
      {% if session['lex_email'] %}
        <a href="{{ url_for('logout') }}" id="logout">Logout</a>
      {% else %}
        <a href="#" id="login">Log in with Persona</a>
      {% endif %}

      <ul id="header">
        {% if session['lex_email'] %}
          <li><a href="{{ url_for('your_messages') }}">Created Messages</a></li>
          <li><a href="{{ url_for('encrypt') }}">Encrypt New Message</a></li>
        {% endif %}
        <li><a href="https://github.com/ednapiranha/lexicrypt">Code</a></li>
        <li><a href="{{ url_for('disclaimer') }}">Disclaimer</a></li>
      </ul>

      {% block content %}{% endblock %}
      {% block footer %}
        <div class="footer">

        </div>
      {% endblock %}
    </div>
  </body>
</html>
