<!DOCTYPE html>
<html>
  {% block head %}
    <head>
      <title>{% block title %}{% endblock %}</title>
      <meta content="width=device-width, height=device-height, user-scalable=no, initial-scale=0.9, maximum-scale=0.9, minimum-scale=0.9" name="viewport">
      <meta content="yes" name="apple-mobile-web-app-capable">
      <meta content="chrome=1" http-equiv="X-UA-Compatible">
      <link rel="shortcut icon" href="{{ url_for('static', filename='images/favicon.ico') }}">
      <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
      <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
      <script src="https://login.persona.org/include.js"></script>
      <script type="text/javascript">
          var currentUser = null;
          {% if session['lex_email'] %}
            currentUser = '{{ session['lex_email'] }}';
          {% endif %}
      </script>
      <script type="text/javascript" src="{{ url_for('static', filename='main.js') }}"></script>
    </head>
  {% endblock %}
  <body>
    <div class="wrapper">
      <h1><a href="{{ url_for('main') }}">lexicrypt</a></h1>
      {% if session['lex_email'] %}
        <a href="{{ url_for('logout') }}" id="logout">Logout</a>

        <ul id="header">
          <li><a href="{{ url_for('your_messages') }}">Your Messages</a></li>
          <li><a href="{{ url_for('encrypt') }}">Encrypt Message</a></li>
        </ul>
      {% else %}
        <a href="#" id="login">Log in with BrowserID</a>
        <form method="post" action="/set_email">
          <input type="hidden" name="bid_assertion" value="1">
        </form>
      {% endif %}

      {% block content %}{% endblock %}
      {% block footer %}
        <div class="footer">

        </div>
      {% endblock %}
    </div>
    <script type="text/javascript">
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-4319539-35']);
      _gaq.push(['_trackPageview']);
      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
    </script>
  </body>
</html>
